.field {
  height: var(--side);
  width: var(--side);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.field:hover {
  background-color: var(--grid-color);
}

.field:active {
  background-color: var(--win-color);
}

.o-style {
  background-color: transparent;
}

.x-style {
  background-color: transparent;
}

.x-style::before,
.x-style::after {
  content: '';
  width: calc(var(--mark)*0.05);
  height: var(--mark);
  background-color: var(--xo-color);
  position: absolute;
}

.x-style::before {
  transform: rotate(45deg);
}

.x-style::after {
  transform: rotate(-45deg);
}

.o-style::before,
.o-style::after {
  content: '';
  border-radius: 50%;
  position: absolute;
}

.o-style::before {
  width: var(--mark);
  height: var(--mark);
  background-color: var(--xo-color);
}

.o-style::after {
  width: calc(var(--mark)*0.9);
  height: calc(var(--mark)*0.9);
  background-color: var(--background-grid);
}
