@import url('../../App.css');

.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

players__title {
  text-align: center;
}

.players__input {
  width: calc(var(--side)*4);
  height: calc(var(--side)/4);
  margin-bottom: calc(var(--side)/4);
  border-radius: 8px;
  text-align: center;
  padding: 4px;
}

.players__input:focus-visible {
  border-radius: 8px;
  background-color: var(--xo-color);
  
}

.players__submit {
  width: calc(var(--side)*2);
  height: calc(var(--side)/2);
  margin-bottom: calc(var(--side)/20);
  border-radius: calc(var(--side)/20);
}
